*{margin: 0; padding: 0; font-size: 100%; border: none; outline: none; 
font-weight: 300; box-sizing: border-box; }
    body {
        background-color: white;
        margin-left: auto;
        margin-right: auto;
}
    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        font-family: "Montserrat", sans-serif;
    }

/*CABEÇALHO*/
.cabecalho {
    width: 100%;
    float: left; 
    padding: 10px;
    }
/*MENU*/

/*SECTION*/
section {
    clear: both;
	background-color: #e6e9f3;
	color: black;
	text-align: center;
	padding: auto;
    border-top: 7px solid #999;
	}

section li{
    color:#777; 
    margin-bottom: 10px;
}
section i {
    margin-right: 5px;}

figcaption {
        background-color: #c5c6d0;
        color: white;
        font-style: italic;
        padding: 2px;
        text-align: left;
      }
main {
    clear: both;
}